<a href="https://colab.research.google.com/github/kimty101010/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# iface = gr.Interface(sum, inputs = ["number", "number"], outputs = ["text"])
# iface.launch()

In [ ]:
# iface = gr.Interface(sum, [gr.inputs.Number(label='input1'), gr.inputs.Number(label='input2')], gr.outputs.Textbox(label='answer'))
# iface.launch()

----------------------

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [19]:
URL = ('http://apis.data.go.kr/B553734/iseweatherobsev/getOutdoorTemp?serviceKey=px6r7k7GvbtSwVH11NGQi7r7OwY3tWUlfYgVa8kwExxE843Mslgui%2BBPL7eUkNQMs8i0pALXa%2F99nSjIH0P9rQ%3D%3D&returnType=json&numOfRows=10&pageNo=1&startDate=2016-01-01&endDate=2019-12-01')
      # 'getCtprvnMesureSidoLIst?' -> getOutdoorTemp?'
      # 'sidoName=서울'
      # '&searchCondition=hour'
      # '&pageNo=1'
      # '&numOfRows=100'
      # '&returnType=json'
      # '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
      #  TY 인증키: px6r7k7GvbtSwVH11NGQi7r7OwY3tWUlfYgVa8kwExxE843Mslgui%2BBPL7eUkNQMs8i0pALXa%2F99nSjIH0P9rQ%3D%3D
response = requests.get(URL)

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

In [ ]:
items = r['body']['items']['item'] # items = r['response']['body'][items']
items[1]

In [26]:
items = r['body']['items']['item'] # items = r['response']['body'][items']

branchCd = [item['branchCd'] for item in items]
branchNm = [item['branchNm'] for item in items]
dates = [item['dates'] for item in items]
hour = [item['hour'] for item in items]
outdoorTemp = [item['outdoorTemp'] for item in items]


branchCd = pd.Series(branchCd)
branchNm = pd.Series(branchNm)   
dates = pd.Series(dates)
hour = pd.Series(hour)
outdoorTemp = pd.Series(outdoorTemp)


df = pd.DataFrame({ 'branchCd': branchCd, 'branchNm': branchNm, 'dates': dates, 'hour': hour, 'outdoorTemp': outdoorTemp})
df

  branchCd branchNm       dates hour outdoorTemp
0        1     서부지사  2017-11-28   24        8.95
1        1     서부지사  2017-11-27   24        1.21
2        2     동부지사  2017-11-28   24        7.61
3        1     서부지사  2017-11-26   24        0.84
4        1     서부지사  2017-11-25   24        7.00
5        1     서부지사  2019-01-21   24        0.65
6        1     서부지사  2017-09-03   24       22.93
7        1     서부지사  2017-09-02   24       22.54
8        1     서부지사  2017-09-01   24       21.51
9        2     동부지사  2019-11-11   24        9.17

In [42]:
def ty(branchNm):
  URL = ('http://apis.data.go.kr/B553734/iseweatherobsev/getOutdoorTemp?serviceKey=px6r7k7GvbtSwVH11NGQi7r7OwY3tWUlfYgVa8kwExxE843Mslgui%2BBPL7eUkNQMs8i0pALXa%2F99nSjIH0P9rQ%3D%3D&returnType=json&numOfRows=10&pageNo=1&startDate=2016-01-01&endDate=2019-12-01')

  response = requests.get(URL)
  r = response.json()
  items = r['body']['items']['item'] # items = r['response']['body'][items']

  branchCd = [item['branchCd'] for item in items]
  branchNm = [item['branchNm'] for item in items]
  dates = [item['dates'] for item in items]
  hour = [item['hour'] for item in items]
  outdoorTemp = [item['outdoorTemp'] for item in items]


  branchCd = pd.Series(branchCd)
  branchNm = pd.Series(branchNm)   
  dates = pd.Series(dates)
  hour = pd.Series(hour)
  outdoorTemp = pd.Series(outdoorTemp)

  df = pd.DataFrame({ 'branchCd': branchCd, 'branchNm': branchNm, 'dates': dates, 'hour': hour, 'outdoorTemp': outdoorTemp})
  return df

In [43]:
iface = gr.Interface(ty, gr.inputs.Dropdown(['서부지사', '동부지사']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://16851.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7f1bd4c8b350>,
 'http://127.0.0.1:7860/',
 'https://16851.gradio.app')

----------------------------